<div class="wrapper-card">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1549038872/Contour/Balfron/hiseman_balfron_aug18_contour.jpg" alt="Contour Golf Balfron Golf Course">
          <div class="data">
            <div class="content">
              <span class="sub-title">Balfron Golf Society</span>
              <h3 class="title"><%= link_to 'Traditional Golf Course Construction', services_path(anchor: 'traditional') %></h3>
              <p class="text">From the rebuilding of a single hole to the design and build of an entire golf complex, our attention to detail is paramount.</p>
              <%= link_to 'Learn More', services_path(anchor: 'traditional'), class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1545211783/Contour/hiseman_contour-horsham-14th.jpg" alt="Contour Golf Horsham Golf Course 14th">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Soil Recovery/Infill Contruction', services_path(anchor: 'soil') %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Learn More', services_path(anchor: 'soil'), class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-8">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1546880658/Contour/hiseman_contour-horsham_17th_bunkers.jpg" alt="Contour Golf Bunker Construction Horsham">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Bunker Contruction', projects_bunkers_path %></h3>
              <p class="text">Contour Golf has a wealth of experience in bunker construction, bunker remodelling and bunker renovation.</p>
              <%= link_to 'Learn More', projects_bunkers_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-16">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto,w_1200/v1546880950/Contour/Contour_golf_lake_construction_4th_horsham.jpg" alt="Contour Golf Lake Construction">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Lake And Pond Installation', services_path %></h3>
              <p class="text">Ponds, lakes and water features on the golf course are rich habitats for wildlife, provide additional challenges for the golfer, are aesthetically pleasing and can provide for or supplement the irrigation on a golf course. There are many positives and few negatives in creating water features. <br><br>Contour Golf has the experience and expertise for constructing ponds, lakes and water bodies and has knowledge in the correct method of constructing such features.  <br><br>Contour Golf has a wide range of specialist machinery and experienced team personnel to construct or renovate a water body or feature. Contour is conversant with erosion and water control, bio engineering and wetland habitat creation.</p>
              <%= link_to 'Services', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1546882214/Contour/Contour_golf_usga_green_construction" alt="Contour Golf USGA Green Construction">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'USGA Green Construction', services_path %></h3>
              <!-- <div class="text"> -->
                <p class="text">Contour Golf has been installing USGA type greens for many years and has a wealth of experience in sourcing and testing suitable materials. Contour Golf has the know how and machinery for expertly mixing the rootzone, for installing the drainage, the composite layers and then for finishing and seeding to a very high standard. <br><br>
                The United States Golf Association recommendations for green construction have been the most widely used method of green construction throughout the world and consists of a perched water table, comprising a sand rootzone mix of 300mm depth a blinding or choker layer of 50mm and a 100mm gravel carpet. If appropriate gravel is used then the intermediate layer may be left out and a two-layer system employed. <br><br> There are strict guidelines and specifications for the materials that can be used.
                The idea is to produce a growing medium that provides resistance to compaction, one that will drain readily but will retain sufficient moisture and nutrients to sustain normal turfgrass growth.  For golfers this means a putting surface that produces a consistent surface that should be playable all year round.</p>
                <%= link_to 'Services', services_path, class:"button" %>
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1544177795/Contour/c1/Contour_golf_irrigation_horsham.jpg" alt="Contour Golf Irrigation Installation">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Irrigation Installation', services_path %></h3>
              <p class="text">Contour has specialised machinery that speeds the infrastructure enablement for irrigation installation and Contour Golf is able to offer an irrigation installation service from full coverage to a system upgrade.</p>
              <%= link_to 'Services', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-16">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/a_0/v1546884068/Contour/Contour_golf_drainage_installation.jpg" alt="Contour Golf Drainage Installation">
          <div class="data">
            <div class="content">
              <span class="sub-title">Airlinks Golf Course</span>
              <h3 class="title"><%= link_to 'Drainage Installation', services_path %></h3>
              <p class="text">The advantages of drainage are manifold. Well drained growing mediums promote healthy grass growth on the golf course through ensuring the required nutrients, oxygen and trace elements are made available. By encouraging a deeper root zone, drainage will also increase the drought resistance of the sward. Wet soils create anaerobic conditions resulting in poor growing conditions.  Bunkers without adequate drainage will turn into ponds.<br><br> Contour Golf has a belief that once the drainage on the golf course is working correctly then myriad problems are solved. This philosophy starts at the surface and works its way through the topsoil and subsoil.  At the surface Contour ensures that there is always a fall on the playing surfaces to shed water readily and easily.  Contour utilises low ground pressure tracks and tyres to avoid compaction of the topsoil thus avoiding the creation of impermeable layers within the soil that restrict water and nutrient cycles.  Contour has bespoke unique specialised implements to relieve compaction in the subsoil.  Contour specialises in sub soil drainage installation for greens, tees, bunkers and fairways  and uses the latest laser and GPS technology for the most efficient and cost effective method for installing the drains.</p>
              <%= link_to 'Services', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div><div class="col-24 col-md-8">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1549381392/Contour/Amsterdam_International_Golf_Club_Contour.jpg" alt="Contour Golf Finishing Green Construction">
          <div class="data">
            <div class="content">
              <span class="sub-title">Amsterdam International Golf Course</span>
              <h3 class="title"><%= link_to 'Finishing And Grow In', services_path %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Services', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

