<div class="wrapper-card">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1545211424/Contour/hiseman_balfron_aug18_contour.jpg" alt="Contour Golf Balfron Golf Course">
          <div class="data">
            <div class="content">
              <span class="sub-title">Balfron Golf Society</span>
              <h3 class="title"><%= link_to 'Traditional Golf Course Construction', services_path %></h3>
              <p class="text">From the rebuilding of a single hole to the design and build of an entire golf complex, our attention to detail is paramount.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1545211783/Contour/hiseman_contour-horsham-14th.jpg" alt="Contour Golf Horsham Golf Course 14th">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Soil Recovery/Infill Contruction', services_path %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-8">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1546880658/Contour/hiseman_contour-horsham_17th_bunkers.jpg" alt="Contour Golf Bunker Construction Horsham">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Bunker Contruction', projects_bunkers_path %></h3>
              <p class="text">Contour Golf has a wealth of experience in bunker construction, bunker remodelling and bunker renovation.</p>
              <%= link_to 'Learn More', projects_bunkers_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-16">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto,w_1200/v1546880950/Contour/Contour_golf_lake_construction_4th_horsham.jpg" alt="Contour Golf Lake Construction">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Lake And Pond Installation', services_path %></h3>
              <p class="text">Ponds, lakes and water features on the golf course are rich habitats for wildlife, provide additional challenges for the golfer, are aesthetically pleasing and can provide for or supplement the irrigation on a golf course. There are many positives and few negatives in creating water features. Contour Golf has the experience and expertise for constructing ponds, lakes and water bodies and has knowledge in the correct method of constructing such features.  Contour Golf has a wide range of specialist machinery and experienced team personnel to construct or renovate a water body or feature. Contour is conversant with erosion and water control, bio engineering and wetland habitat creation.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1546882214/Contour/Contour_golf_usga_green_construction" alt="Contour Golf USGA Green Construction">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'USGA Green Construction', services_path %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-12">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1544177795/Contour/c1/Contour_golf_irrigation_horsham.jpg" alt="Contour Golf Irrigation Installation">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Irrigation Installation', services_path %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-24 col-md-16">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/a_0/v1546884068/Contour/Contour_golf_drainage_installation.jpg" alt="Contour Golf Drainage Installation">
          <div class="data">
            <div class="content">
              <span class="sub-title">Airlinks Golf Course</span>
              <h3 class="title"><%= link_to 'Drainage Installation', services_path %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div><div class="col-24 col-md-8">
        <div class="card card-sparks text-white">
          <img class="card-img" src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low,w_1200/v1544176028/Contour/Contour_golf_finishing_green_construction.jpg" alt="Contour Golf Finishing Green Construction">
          <div class="data">
            <div class="content">
              <span class="sub-title">Horsham 'The Oaks' Golf Course</span>
              <h3 class="title"><%= link_to 'Finishing And Grow In', services_path %></h3>
              <p class="text">Working with licensed and specialist soil importation companies, Contour can deliver a fully managed and efficient construction of a golf course infill project.</p>
              <%= link_to 'Learn More', services_path, class:"button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

