<nav class="navbar #navbar <%= 'navbar-home' if params[:action] == 'home' %>">
  <!-- Logo -->
  <%= link_to image_tag('NavbarLogo.png'), root_path, class: "navbar-brand" %>

  <!-- Phone Number -->
  <a href="tel:07793004675" class="navbar-brand navbar-item navbar-link">Call Ingrid: 07793 004675</a>

  <!-- Right Navigation -->
  <div class="navbar-right ml-auto">
    <%= link_to 'Services', services_path, class: "navbar-item navbar-link" %>
    <div class="dropdown navbar-link navbar-item">
      <a class="dropdown-toggle" id="navbar-menu" data-toggle="dropdown">Projects</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <h6 class="dropdown-header">Soil Recovery Projects</h6>
        <li><a href="/projects/soilrecovery/horsham">Horsham 'The Oaks'</a></li>
        <li><a href="/projects/soilrecovery/radlett">Radlett Driving Range</a></li>
        <li><a href="/projects/soilrecovery/leicester">Leicester Driving Range</a></li>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Traditional Build</h6>
        <li><a href="/projects/traditional/portfolio">Our Portfolio</a></li>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Bunker Construction</h6>
        <li><a href="/projects/bunkers">Bunker Projects</a></li>
        <div class="dropdown-divider"></div>
        <li><a href="/about">Contact</a></li>
      </ul>
    </div>
    <%#= link_to 'Team', about_path, class: "navbar-item navbar-link" %>
    <%= link_to 'About', about_path, class: "navbar-item navbar-link" %>
    <%= link_to 'Contact', about_path, class: "navbar-item navbar-link" %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-item d-lg-none">
    <div class="dropdown">
      <i class="fas fa-bars dropdown-toggle" data-toggle="dropdown" role="button"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-dropdown-menu">
        <li class="dropdown-header">Menu</li>
        <li><%= link_to 'Services', services_path, class: "navbar-item navbar-link" %></li>
        <div class="dropdown-divider"></div>
        <li class="dropdown-header">Soil Recovery Projects</li>
        <li><%= link_to 'Horsham "The Oaks"', projects_soilrecovery_horsham_path %></li>
        <li><%= link_to 'Radlett Driving Range', projects_soilrecovery_radlett_path %></li>
        <li><%= link_to 'Leicester Driving Range', projects_soilrecovery_leicester_path %></li>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Traditional Build</h6>
        <li><%= link_to 'Our Portfolio', projects_traditional_portfolio_path %></li>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header">Bunker Construction</h6>
        <li><%= link_to 'Bunker Projects', projects_bunkers_path %></li>
        <div class="dropdown-divider"></div>
        <li><%= link_to 'Contact', about_path %></li>
      </ul>
    </div>
  </div>
</nav>
