<%= render 'shared/banner' %>
<%= render 'shared/about' %>
<%= render 'shared/machinery' %>
<%= render 'shared/cards' %>
<div class="banner2"></div>
<%= render 'shared/testimonial' %>
<%= render 'shared/contact' %>
