<% content_for :meta_title, "Contour Golf Limited | Golf Construction Services" %>
<% content_for :meta_description, "Contour Golf Ltd comes equipped with more than 25 Years of experience in the golf course construction industry. We provide the knowledge and expertise for all aspects of golf course development. Including the ever increasingly popular 'Soil Import' or 'Land Fill' projects." %>
<%# content_for :meta_image, src="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1550228118/Contour/Horsham_12th_Contour_Golf.jpg" %>
<%= render 'shared/servicevideo' %>
<%= render 'shared/soilrecovery' %>
<%= render 'shared/servicebanner' %>
<%= render 'shared/traditional' %>
<div style="height: 20px;"></div>
<%= render 'shared/cards' %>
<%= render 'shared/contact' %>
