<%= render 'shared/servicevideo' %>
<%= render 'shared/soilrecovery' %>
<%= render 'shared/servicebanner' %>
<%= render 'shared/traditional' %>
<%= render 'shared/machinery' %>
<div style="height: 20px;"></div>
<%= render 'shared/cards' %>
<%= render 'shared/contact' %>
