<!DOCTYPE html>
<html>
  <head>
    <!-- HTML Meta Tags -->
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <meta property="og:image" content="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1550225214/Contour/Contour%20Golf%20Limited.png" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Contour Golf Limited - Golf Course Constructors and Specialists in Soil Recovery Projects">
    <meta itemprop="description" content="Traditional Golf Course Construction Specialists and Experts in Soil Recovery - Inert Waste Infill Projects">
    <meta itemprop="image" content="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1550225214/Contour/Contour%20Golf%20Limited.png">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://www.contour-golf.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Contour Golf Limited - Golf Course Constructors and Specialists in Soil Recovery Projects">
    <meta property="og:description" content="Traditional Golf Course Construction Specialists and Experts in Soil Recovery - Inert Waste Infill Projects">
    <meta property="og:image" content="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1550225214/Contour/Contour%20Golf%20Limited.png">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Contour Golf Limited - Golf Course Constructors and Specialists in Soil Recovery Projects">
    <meta name="twitter:description" content="Traditional Golf Course Construction Specialists and Experts in Soil Recovery - Inert Waste Infill Projects">
    <meta name="twitter:image" content="https://res.cloudinary.com/lwsw18ldn/image/upload/q_auto:low/v1550225214/Contour/Contour%20Golf%20Limited.png">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag 'Contour-Logo-Fav.png'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
